.section
  %p
    .figure#pic1
      %img{ :src => '/images/Pic1.png' }/
      %br/
      &quot;"<b>TT.E.A.M.</b> has helped ALL of my horses &ndash; from behavior problems to improved performance.&quot;
      %br/
      %span.attrib &mdash; Sarah Metcalf, D.V.M.

  %p
    Julie Jen&eacute;, horse trainer, equine arts instructor, and certified <b>TT.E.A.M.</b> practitioner, combined her 20 years of
    participation in the horse world, her search for more effective training methods and her desire to pass this information on to
    others when she encountered <b>TT.E.A.M.</b> nearly twenty-five years ago.

  %p
    Julie had been searching for an approach which went beyond “kind and gentle” horse training and found it in the <b>TT.E.A.M.</b>
    method.  She discovered ways to prevent and solve problems in training through <b>relieving discomfort</b> in the body of the
    horse as well as enhancing <b>physical and mental ability</b> through working with the horse's unique type of intelligence.  She
    found that using <b>TT.E.A.M.</b> to open new forms of communication between humans and other animals is exciting and gratifying.

  %p
    Trained by Linda Tellington-Jones and her sister Robyn Hood, Julie practices and teaches these techniques at her training
    facility near Spokane and in workshops around the United States and Canada.  Most people are able to learn and utilize
    <b>TT.E.A.M.</b> techniques in a very short time, helping to alleviate pain, fear and tension and restoring calm and confidence.
    <b>TT.E.A.M.</b> techniques work <b>without pain, fear or force</b> creating a <b>partnership</b> between humans and the animals
    we care for.


.section
  %p
    .figure#pic2
      %img{ :src => '/images/Pic2.png' }/
      %p
        &quot;<b>TT.E.A.M.</b> has done amazing things for me and my horse.  After nearly giving up on his lunatic antics and explosive
        behavior, I now enjoy a fun, trustworthy trail horse.&quot;
        %br/
        %span.attrib &mdash; Sandra Journey
      %p
        &quot;My mule had a terrible kicking problem due to rough treatment.  The <b>TT.E.A.M.</b> training and  Julie's quiet, firm,
        friendly approach stopped his kicking and made him into a confident and cooperative mule.&quot;
        %br/
        %span.attrib &mdash; Gael Schroeder

  %h3 Linda Tellington-Jones
  %p
    <b>TT.E.A.M.</b> (or Tellington-Jones Equine Awareness Method) was developed by internationally know teacher, trainer and author
    Linda Tellington-Jones.  She created this revolutionary technique for animals inspired by her four years&eacute; of professional
    training with Dr. Moshe Feldenkrais and his work on the method of functional integration and body work.  It is an alternative
    approach to training and healing horses that relieves pain or tension in the horse's body, often the cause of resistances and
    behavior problems, through non-threatening manipulations known as TTouch.  TTouch combines with unique TTEAM Ground and
    Awareness Exercises and Riding with Awareness Techniques, frequently resulting in permanent changes in personality, behavior and
    improved performance.  Even problems that are commonly considered in the horse world to be unchangeable can often be solved
    using the three phases of TTEAM.

  %p
    The <b>TT.E.A.M.</b> techniques are rapidly becoming known as an effective and
    gentle approach to solving behavior problems in companion animals, zoo animals
    and other exotic species and have come to be called the &quot;Tellington-Jones Every
    Animal Method&quot;!

.section
  %h3
    %span{ :style => 'font-variant: small-caps;' } TT.E.A.M.
    Training

  %p
    Through ongoing development of these techniques, it has become apparent that
    this work with horses (and other animals) can not only overcome resistance by
    can also <b>reduce stress</b>, <b>relieve back pain</b>, <b>lameness</b>,
    <b>unevenness of gait</b>, <b>balance problems</b>, <b>reduce inner tension</b>, <b>speed
    healing</b>, <b>reduce resistance to vet and farrier</b>, <b>problems with</b>: <b>saddling and
    grooming</b>, <b>bucking and rearing</b>, <b>cinchiness</b>, <b>acceptance of clipping</b>, <b>shots</b>, <b>mane
    pulling</b>, <b>pulling back when tied</b>, <b>biting and kicking</b>, <b>shying</b>, <b>trailering</b> and
    other difficult situations.  Horses trained in this method demonstrate a
    markedly improved <b>willingness and ability to learn</b>.

  %p
    The <b>TT.E.A.M.</b> ground exercises offer horses and opportunity to experience
    new ways of moving and overcoming old behavior patters.  Experiencing these
    exercises, without pain, fear or force, results in <b>obedience</b>, <b>self control</b>,
    <b>focus</b>, <b>self-confidence</b>, <b>balance and coordination</b>.

  %p
    <b>Riding with awareness</b> uses principles of feldenkrais work, centered riding and
    classical dressage to make <b>riding with joy</b> a reality for people from all parts
    of the horse world!

  %div{ :style => 'text-align: center;' }
    %img{ :src => '/images/Pic3.png' }/

  %div{ :style => 'text-align: center;' }
    %hr/
    Contact Julie by phone at (509) 924-9739 or by email at
    %a{:href => 'mailto:julie@horseandpeopletraining.com'} julie@horseandpeopletraining.com
