.panel
  %img{:src => '/images/Julie and SS full face on.jpg', :alt => ""}/
  %p{style: 'font-style: italic'}
    %a{:href => 'mailto:julie@horseandpeopletraining.com'} Julie Jen&eacute;
    %span{style: 'font-size: smaller'} (and student)
  %p
    Horse and People Training
    %br/
    %strong (509) 979-6202
    %br/
    P.O. Box 13
    %br/
    %a{href: 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Otis+Orchards,+WA&aq=0&sll=47.701444,-116.862946&sspn=0.017445,0.042272&ie=UTF8&hq=&hnear=Otis+Orchards,+Spokane,+Washington&ll=47.693588,-117.217255&spn=0.279155,0.676346&t=h&z=11'}
      Otis Orchards, WA
    %br/
    99027

.content
  :textile
    Julie Jen&eacute;, horse trainer, equine arts instructor, and certified *TT.E.A.M.* practitioner, combined her 20 years of participation in the horse world, her search for more effective training methods and her desire to pass this information on to others when she encountered *TT.E.A.M.* thirty years ago.

    A lifetime horsewoman, horse teacher and TTEAM Practitioner Julie had many experiences as a teenager that made her realize that horses are capable of understanding, learning and connecting far beyond what she was taught.  The training methods of the time relied on dominance and submission, force, and (for "kind and gentle" trainers) manipulation a lot of repetition. Who has not heard the phrase "show 'em who's the boss"? Julie found herself asking the question, "Then what?"  What if they still didn't do what the human had in mind? Could the problem be with the human?  What about other factors: the physical, emotional, or even external issues being the problem that led to "disobedience"?

    A three part article in Equus Magazine in 1981 entitled "The Touch that Teaches" opened her eyes to a wonderful new perspective on horse teaching.  A weekend demonstration by Linda Tellington-Jones showed a way to enhance the physical and mental abilities of the horse resulting in mental focus, coordination, balance and learning in ways that made horses want to learn more. Julie saw people TEACHING rather than training through rote repetition.  Linda demonstrated new ways of presenting information to horses through non-habitual activities, exercises and movements resulting in calm, thinking horses with a sense of responsibility, who were then able to apply lessons to new situations and problems.

    Julie discovered ways to prevent and solve problems in training through *relieving discomfort* in the body of the horse as well as enhancing *physical and mental ability* through working with the horse's unique type of intelligence.  She found that using *TT.E.A.M.* to open new forms of communication between humans and other animals is exciting and gratifying.

    Trained by Linda Tellington-Jones and her sister Robyn Hood, Julie practices and teaches these techniques at her training facility near Spokane and in workshops around the United States and Canada.  Most people are able to learn and utilize *TT.E.A.M.* techniques in a very short time, helping to alleviate pain, fear and tension and restoring calm and confidence. *TT.E.A.M.* techniques work *without pain, fear or force* creating a *partnership* between humans and the animals we care for.

    h3. Linda Tellington-Jones

    *TT.E.A.M.* / "Tellington TTouch Training":http://tellingtontraining.com was developed by internationally know teacher, trainer and author Linda Tellington-Jones.  She created this revolutionary technique for animals inspired by her four years of professional training with Dr. Moshe Feldenkrais and his work on the method of functional integration and body work.  It is an alternative approach to training horses that relieves pain or tension in the horse&apos;s body, often the cause of resistances and behavior problems, through non-threatening manipulations known as TTouch.  TTouch combines with unique TTEAM Ground and Awareness Exercises and Riding with Awareness Techniques, frequently resulting in permanent changes in personality, behavior and improved performance.  Even problems that are commonly considered in the horse world to be unchangeable can often be solved using the three phases of TTEAM.

    The *TT.E.A.M.* techniques are rapidly becoming known as an effective and gentle approach to solving behavior problems in companion animals, zoo animals and other exotic species and have come to be called the &quot;Tellington-Jones Every Animal Method&quot;!

.panel.figure
  %img{:src => '/images/Pic2.png', :alt => ""}/
  %p.quote
    &quot;<b>TT.E.A.M.</b> has done amazing things for me and my horse.  After nearly giving up on his lunatic antics and explosive behavior, I now enjoy a fun, trustworthy trail horse.&quot;
    %span.attrib &mdash; Sandra Journey
  %p.quote
    &quot;<b>TT.E.A.M.</b> has helped ALL of my horses &ndash; from behavior problems to improved performance.&quot;
    %span.attrib &mdash; Sarah Metcalf, D.V.M.
  %p.quote
    &quot;My mule had a terrible kicking problem due to rough treatment.  The <b>TT.E.A.M.</b> training and  Julie's quiet, firm, friendly approach stopped his kicking and made him into a confident and cooperative mule.&quot;
    %span.attrib &mdash; Gael Schroeder

.content
  :textile
    h3. _(caps)TT.E.A.M._ / Tellington TTouch Training

    Through ongoing development of these techniques, it has become apparent that this work with horses (and other animals) can not only overcome resistance by can also *reduce stress*, *relieve back pain*, *lameness*, *unevenness of gait*, *balance problems*, *reduce inner tension*, *speed healing*, *reduce resistance to vet and farrier*, *problems with*: *saddling and grooming*, *bucking and rearing*, *cinchiness*, *acceptance of clipping*, *shots*, *mane pulling*, *pulling back when tied*, *biting and kicking*, *shying*, *trailering* and other difficult situations.  Horses trained in this method demonstrate a markedly improved *willingness and ability to learn*.

    The *TT.E.A.M.* ground exercises offer horses and opportunity to experience new ways of moving and overcoming old behavior patters.  Experiencing these exercises, without pain, fear or force, results in *obedience*, *self control*, *focus*, *self-confidence*, *balance and coordination*.

    Thirty five years later the *TT.E.A.M.* / Tellington TTouch Training has been used with horses from the backyard variety to Olympic and other high level performers and incorporated into the programs of top contenders and national teams. Endurance riders, pleasure and trail riders, three day event riders, cutting horse competitors, hunter/jumpers ... the list goes on of disciplines where horses and riders have benefited from this approach.  High level riders such as Klaus Erhorn, Dr. Reiner Klimke and Klaus Blankenhol have incorporated TTouch Training into their own methods as well as the Russian Dressage Team who, with Linda's help, went on to become top contenders!

    Julie Jene' has taught horse people from all disciplines and breeds that their horses can be more in tune with them and less apprehensive about their handler's intentions and actions. These human and horse students have ready skills to enhance calmness and clear communication.  They have choices of multiple paths to take to realize their goals, all based in understanding, encouragement and success always with the THE WELFARE OF THE HORSE AS THE MAIN PRIORITY.

    *Riding with Awareness* uses principles of Feldenkrais work, centered riding and classical dressage to make *RIDING WITH JOY* a reality for people from all parts of the horse world!

%div{ :style => 'text-align: center;' }
  %img{ :src => '/images/Pic3.png', :alt => "" }/
