!!! XML
!!! Strict
%html{ 'xml:lang' => 'en', :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }/
    %meta{ :content => 'en-us', "http-equiv" => 'Content-Language' }/
    %meta{ :name => 'author', :content => 'Julie Jene' }/
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css', :media => 'screen, projection' }/
    %title Julie Jen&eacute;'s Horse &amp; People Training

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24453949-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #page
      #header
        %h1 Horse and People Training
        %h2 with Julie Jen&eacute;

      #main
        = yield
