body
  background: #a64b00
  color: black
  margin: 0

#page
  width: 768px
  margin: 0 auto
  padding: 1em
  background: white

b
  font-weight: normal
  font-variant: small-caps


h1, h2, h3, h4, h5
  text-align: center
  margin: 0

hr
  clear: both

.clear
  clear: both

span.caps
  font-variant: small-caps

.section
  text-indent: 1em
  text-align: justify
  clear: both

.figure
  float: right
  max-width: 262px
  margin: 1em
  padding: 1em
  color: black
  background: #ffb273
  text-align: center
  font-style: italic
  font-size: smaller
  margin-left: 1em

.attrib
  float: right
