@import "compass/css3/border-radius"

body
  background: #a64b00
  color: black
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif
  margin: 0

#page
  max-width: 1000px
  margin: 0 auto
  padding: 1em
  background: white

h1, h2, h3, h4, h5
  text-align: center
  margin: 0

p
  margin: 0.5em 0
hr
  clear: both

b
  font-weight: normal
  font-variant: small-caps

.clear
  clear: both

.content
  text-align: justify

span.caps
  font-variant: small-caps

.section
  text-indent: 1em
  text-align: justify
  clear: both

.panel
  float: right
  max-width: 262px
  margin: 0 1em
  padding: 1em
  color: black
  background: #ffb273
  @include border-radius(5px)
  text-align: center
  .caption
    font-style: italic
    font-size: smaller

.quote
  margin: 1em
  clear: both
  .attrib
    float: right
    clear: both
    margin-bottom: 1em
